body {
    background-color: #FFFFFF;
    height: 100vh;
    margin: 0;
    text-align: center;
    overflow: hidden;
  }

.container>* {
    flex: 0 0 50px;
  }

.container {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.content {
    background-color: #FFFFFF;
    height: auto;
    width: auto;
    font-size: large;
    align-items: center;

  }

.topnav {
    background-color: #5E8CC3;
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: #303136;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #385E8A;
    color: #303136;
    font-size: large;
  }
  
.topnav a.active {
    background-color: #385E8A;
    color: #303136;
    font-size: large;
  }

